<% @cars.each do |car| %>
    <%= link_to car_path(car) do %>
        <div class="card-trip">
            <%= image_tag("#{car.photo}") %>
            <div class="card-trip-infos">
                <div>
                <h2><%= car.brand %> - <%= car.model %></h2>
                <p> Lorem Ipsum bla bla </p>
                </div>
                <h2 class="card-trip-pricing"><%= car.price %></h2>
            </div>
        </div>
    <% end %>
<% end %>
